<!-- chat/templates/chat/room.html -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
<h2>Logged in as {{ username }}</h2>
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
{{ room_name|json_script:"room-name" }}

<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const username = '{{ username }}';

    const chatSocket = new ReconnectingWebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onopen = function (e) {
        fetchMessages();
    }

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const message = data['message'];
        {#const author = message['author'];#}
        if (data['command'] === 'messages') {
            for (let i = 0; i < data['messages'].length; i++) {
                {#let chat_log = document.querySelector('#chat-log').value;#}
                document.querySelector('#chat-log').value = (data['messages'][i].content + " by " + data['messages'][i].author + '\n') + document.querySelector('#chat-log').value;
                console.log("Fetched message:" + data['messages'][i].content);
            }
        } else if (data['command'] === 'new_message') {
            document.querySelector('#chat-log').value += (data['message'].content + " by " + data['message'].author + '\n');
            console.log("New Message:" + data['message'].content + " by " + data['message'].author);
        }
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'command': 'new_message',
            'from': username
        }));
        messageInputDom.value = '';
    };

    function fetchMessages() {
        chatSocket.send(JSON.stringify({'command': 'fetch_messages'}));
    }
</script>
</body>
</html>